.terraform
/.idea/
*.tfstate
*.tfstate.backup
*.lock.hcl
*.env
*ansible/roles/mariadbdocker/defaults/main.yml
ansible/group_vars/all
ansible/roles/buluma.phpmyadmin
/ansible/roles/nginxinc.nginx/
terraform/pritunl-vpn/
ansible\roles\nginxinc.nginx
ansible/roles/nginxinc.nginx/
