global
  # Этот параметр указывает HAProxy работать в фоновом режиме как демон
  daemon
  # максимальное количество одновременных подключений к HAProxy
  maxconn 256
# настройки по умолчанию для всех прокси и frontend секций  
defaults
  # HAProxy будет работать как балансировщик для HTTP трафика
  mode http
  # Этот параметр определяет тайм-аут соединения с бэкенд-сервером
  timeout connect 5000ms
  # Этот параметр определяет тайм-аут ожидания клиента. Если клиент не отправит запрос в течение 50000 миллисекунд, то HAProxy закроет соединение.
  timeout client 50000ms
  # Этот параметр определяет тайм-аут ожидания сервера. Если бэкенд-сервер не ответит на запрос в течение 50000 миллисекунд, то HAProxy закроет соединение.
  timeout server 50000ms
# Раздел для ститистики и мониторинга HAProxy  
listen stats
  # Этот параметр указывает на прослушивание всех доступных IP-адресов на порту 9999
  bind *:9999
  # Включение статистики HAProxy.
  stats enable
  # Скрытие версии HAProxy из вывода статистики.
  stats hide-version
  # URI, по которому будет доступна статистика HAProxy.
  stats uri /stats
  # Параметр для аутентификации при доступе к статистике. В данном случае, логин и пароль для доступа к статистике
  stats auth admin:admin@123
# Frontend является первой точкой входа для входящего трафика в HAProxy. Он слушает на определенных портах и принимает запросы от клиентов. 
# Когда клиент отправляет запрос на порт 8080, HAProxy будет прослушивать этот порт на всех доступных IP-адресах и обрабатывать входящие запросы, чтобы распределить их между соответствующими backend-серверами в соответствии с правилами балансировки нагрузки, заданными в конфигурации.
# HAProxy будет принимать HTTP-запросы от клиентов на настроенном порту и далее перенаправлять их на backend-сервер "prom", который был определен в этой же конфигурации.
frontend prom
  # Прослушивание всех доступных IP-адресов на порту 8080
  bind *:8080
  use_backend prom
backend prom
  server prom1 prometheus-1.basov.world:9090 check
  # Опция "backup" указывает, что этот сервер будет использоваться только в случае недоступности первого сервера (prom1).
  server prom2 prometheus-2.basov.world:9090 check backup
